#adbanner {
    background: url(../images/logo.png);
    background-color: #;
    text-align: center;
}

.listitem-info {
    font-size: 10pt;
}

.searchfor {
    font-weight: bold;
}

.ui-page {
    backface-visibility:hidden;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -highlight-color: rgba(0,0,0,0);
}

div.ui-page {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    /*height: 100%; */
}

.ui-grid-a .ui-block-a { width: 30% }
.ui-grid-a .ui-block-b { width: 70%; } 
