/* =Global */
.ui-page {
    background-image: url("../images/247/Px411-Background.png");
    background-color: #2093c3;
}

.ui-icon-custom-arrow-r {
    background-image: url("../images/247/Px411-List-DetailsRightArrow.png");
}

/*
.ui-icon-delete {
    background-image: url("../images/247/Px411-Search-DeleteX.png");
}
*/

/* =Main Page */
div.logo-bg {
    background-image: url("../images/247/Px411-TopNav-Background.png");
}

div.logo {
    background-size: 65px 22px;
    background-image: url("../images/247/Px411-TopNav-Logo.png");
    width: 65px;
    height: 22px;
    padding: 8px;
}

div.searchbar {
    background-image: url("../images/247/Px411-Search-Background.png");
}

a.back-btn-results {
    background-image: url("../images/247/Px411-TopNav-ResultsBackButton.png");
}

img.calendar-icon {
    background-image: url("../images/247/Px411-List-CalendarIcon.png");
}

.meeting-name {
    color: #24a3d8;
}

.meeting-time-remaining {
    color: #ed9d17;
}

/* =Results Page */
a.back-btn {
    background-image: url("../images/247/Px411-TopNav-BackButton.png");
}

img.list-location-marker {
    background-image: url("../images/247/Px411-List-LocationMarkerIcon.png");
}

.listing-name {
    color: #24a3d8;
}

/* =Details Page */
a.connect-me-btn {
    background-image: url("../images/247/Px411-Details-ConnectMeButton.png");
}

a.share-info-btn {
    background-image: url("../images/247/Px411-Details-ShareInfoButton.png");
}

a.back-btn-info {
    background-image: url("../images/247/Px411-TopNav-InfoBackButton.png");
}

img.details-location-marker {
    background-image: url("../images/247/Px411-Details-LocationMarkerIcon.png");
}

img.details-map-marker {
   background-image: url("../images/247/Px411-Details-MapLocationMarkerIcon.png");
}

img.get-directions-btn {
    background-image: url("../images/247/Px411-Details-GetDirectionsButton.png");
    background-size: 300px 30px;
    width: 300px;
    height: 30px;
}

.details-name {
    color: #f9a417;
}

.details-label {
    color: #24a3d8;
}

/* =Directions Page */
img.small-location-marker {
    background-image: url("../images/247/Px411-Directions-SmallLocationMarkerIcon.png");
}

img.directions-start-map-marker {
   background-image: url("../images/247/Px411-Directions-StartLocationMarkerIcon.png");
}

img.directions-end-map-marker {
   background-image: url("../images/247/Px411-Directions-EndLocationMarkerIcon.png");
}

#adp-placemark {
   background-image: url("../images/247/Px411-Directions-StartLocationMarkerIcon.png");
}

.adp-placemark {
   background-image: url("../images/247/Px411-Directions-EndLocationMarkerIcon.png");
}

a.share-directions-btn {
    background-image: url("../images/247/Px411-Directions-ShareDirectionsButton.png");
}

/*
#adp-placemark {
   background: white url("../images/247/Px411-Directions-StartLocationMarkerIcon.png") no-repeat left center;
}

.adp-placemark {
   background: white url("../images/247/Px411-Directions-EndLocationMarkerIcon.png") no-repeat left center;
}
*/

.directions-name {
    color: #f9a417;
}

/* =Share Page */
img.address-pointer {
    background-image: url("../images/247/Px411-Directions-SmallLocationMarkerIcon.png");
}

.share-footer {
    background-image: url("../images/247/Px411-ShareInfo-ButtonBackgroundPanel.png");
}

a.sms-btn {
    background-image: url("../images/247/Px411-ShareInfo-SendSMSButton.png");
}

a.email-btn {
    background-image: url("../images/247/Px411-ShareInfo-SendEmailButton.png");
}

a.share-add_other {
    background-image: url("../images/247/Px411-ShareInfo-AddOtherContacts.png");
}

.share-name {
    color: #f9a417;
}

.share-meeting-name {
    color: #1890c2;
}

.share-contact_name-selected {
    color: #24a3d8;
}

/* =AddContact Page */
.addcontact-name {
    color: #24a3d8;
}
