/* =Global */
.ui-page {
    background-image: url("../images/att/Px411-Background-NoSearchBar-small.png");
    background-color: #003A6F;
}

/* =Main Page */
div.mainpage {
    background-image: url("../images/att/PX411-Background-SearchBar-small.png");
    background-color: #003A6F;
}

div.logo-bg {
	background-image: url("../images/att/Px411-BrandingBackground.png");
}

div.logo {
    background-image: url("../images/att/Px411-BrandingLogo.png");
}

div.searchbar {
    background-image: url("../images/att/Px411-SearchBarBackground.png");
}

div.ad {
    background-image: url("../images/att/Px411-BannerAd-CheesecakeFactory-Smaller.png");
}

a.back-btn-results {
    background-image: url("../images/att/Px411-Button-ResultsBack.png");
}

/* =Details Page */
a.connect-me-btn {
    background-image: url("../images/att/Px411-Button-ConnectMe.png");
}

a.share-info-btn {
    background-image: url("../images/att/Px411-Button-ShareInfo.png");
}

a.back-btn-info {
    background-image: url("../images/att/Px411-Button-InfoBack.png");
}


/* =Share Page */
img.address-pointer {
    background-image: url("../images/att/Px411-AddressPointer.png");
}

.share-footer {
    background-image: url("../images/att/Px411-Button-SendButtonBackground-cropped.png");
}

a.sms-btn {
    background-image: url("../images/att/Px411-Button-SendSMS.png");
}

a.email-btn {
    background-image: url("../images/att/Px411-Button-SendEmail.png");
}

