/* =Global */
.ui-page {
    background-image: url("../images/att/Px411-Background.png");
    background-color: #003A6F;
}

.ui-icon-arrow-r {
    background-image: url("../images/att/Px411-List-DetailsRightArrow.png");
}

.ui-icon-delete {
    background-image: url("../images/att/Px411-Search-DeleteX.png");
}

/* =Main Page */
div.logo-bg {
    background-image: url("../images/att/Px411-TopNav-Background.png");
}

div.logo {
    background-image: url("../images/att/Px411-TopNav-Logo.png");
}

div.searchbar {
    background-image: url("../images/att/Px411-Search-Background.png");
}

a.back-btn-results {
    background-image: url("../images/att/Px411-TopNav-ResultsBackButton.png");
}

img.calendar-icon {
    background-image: url("../images/att/Px411-List-CalendarIcon.png");
}

/* =Results Page */
a.back-btn {
    background-image: url("../images/att/Px411-TopNav-BackButton.png");
}

img.list-location-marker {
    background-image: url("../images/att/Px411-List-LocationMarkerIcon.png");
}

/* =Details Page */
a.connect-me-btn {
    background-image: url("../images/att/Px411-Details-ConnectMeButton.png");
}

a.share-info-btn {
    background-image: url("../images/att/Px411-Details-ShareInfoButton.png");
}

a.back-btn-info {
    background-image: url("../images/att/Px411-TopNav-InfoBackButton.png");
}

img.details-location-marker {
    background-image: url("../images/att/Px411-Details-LocationMarkerIcon.png");
}

img.details-map-marker {
   background-image: url("../images/att/Px411-Details-MapLocationMarkerIcon.png");
}

img.get-directions-btn {
    background-image: url("../images/att/Px411-Details-GetDirectionsButton.png");
}

img.departure-alert-btn {
    background-image: url("../images/att/Px411-Details-DepartureAlert.png");
}

/* =Directions Page */
img.small-location-marker {
    background-image: url("../images/att/Px411-Directions-SmallLocationMarkerIcon.png");
}

img.directions-start-map-marker {
   background-image: url("../images/att/Px411-Directions-StartLocationMarkerIcon.png");
}

img.directions-end-map-marker {
   background-image: url("../images/att/Px411-Directions-EndLocationMarkerIcon.png");
}

#adp-placemark {
   background-image: url("../images/att/Px411-Directions-StartLocationMarkerIcon.png");
}

.adp-placemark {
   background-image: url("../images/att/Px411-Directions-EndLocationMarkerIcon.png");
}

a.departure-alert-btn {
    background-image: url("../images/att/Px411-Directions-DepartureAlertButton.png");
}

a.share-directions-btn {
    background-image: url("../images/att/Px411-Directions-ShareDirectionsButton.png");
}

/*
#adp-placemark {
   background: white url("../images/att/Px411-Directions-StartLocationMarkerIcon.png") no-repeat left center;
}

.adp-placemark {
   background: white url("../images/att/Px411-Directions-EndLocationMarkerIcon.png") no-repeat left center;
}
*/

/* =Share Page */
img.address-pointer {
    background-image: url("../images/att/Px411-AddressPointer.png");
}

.share-footer {
    background-image: url("../images/att/Px411-Button-SendButtonBackground-cropped.png");
}

a.sms-btn {
    background-image: url("../images/att/Px411-ShareInfo-SendSMSButton.png");
}

a.email-btn {
    background-image: url("../images/att/Px411-ShareInfo-SendEmailButton.png");
}

