/* =Global */
/* reset the default font */
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button,
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: Arial;
}

.ui-page {
    background-size: 100% 375px;
    background-repeat:repeat-x;
    min-height: 480px !important;
}

.ui-icon-custom-arrow-r {
    background: none;
    background-repeat: no-repeat;
    background-size: 11px 17px;
    height: 17px;
    width: 11px;
}

.ui-header {
    border: none;
    background: none;
}

.ui-content {
    padding: 0px;
}

.ui-footer {
    border: none;
    background: none;
}

.ui-header .ui-btn-left {
    left: 3px;
    top: 6px;
}

.ui-header .ui-btn-right {
    right: 3px;
    top: 6px;
}

.ui-grid-a .ui-block-a { width: 30% }
.ui-grid-a .ui-block-b { width: 70%; }

div.left {
    width: 50%;
    float: left;
}

div.right {
    width: 50%;
    float: right;
    text-align: right;
}

div.logo-bg {
    background-size: 100% 40px;
    height: 40px;
    margin: 0;
    padding: 0px;
}

div.logo {
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

div.page-title {
    padding: 8px;
    text-align: center;
    font-family: Arial;
    text-shadow: none;
    font-size: 16pt;
}

/* corner rounding */
.ui-corner-tl {
        -moz-border-radius-topleft: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-top-left-radius: 0.3em /*{global-radii-blocks}*/;
        border-top-left-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-tr {
        -moz-border-radius-topright: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-top-right-radius: 0.3em /*{global-radii-blocks}*/;
        border-top-right-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-bl {
        -moz-border-radius-bottomleft: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-bottom-left-radius: 0.3em /*{global-radii-blocks}*/;
        border-bottom-left-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-br {
        -moz-border-radius-bottomright: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-bottom-right-radius: 0.3em /*{global-radii-blocks}*/;
        border-bottom-right-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-top {
        -moz-border-radius-topleft: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-top-left-radius: 0.3em /*{global-radii-blocks}*/;
        border-top-left-radius: 0.3em /*{global-radii-blocks}*/;
        -moz-border-radius-topright: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-top-right-radius: 0.3em /*{global-radii-blocks}*/;
        border-top-right-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
        -moz-border-radius-bottomleft: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-bottom-left-radius: 0.3em /*{global-radii-blocks}*/;
        border-bottom-left-radius: 0.3em /*{global-radii-blocks}*/;
        -moz-border-radius-bottomright: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-bottom-right-radius: 0.3em /*{global-radii-blocks}*/;
        border-bottom-right-radius: 0.3em /*{global-radii-blocks}*/;
        }
.ui-corner-right {
        -moz-border-radius-topright: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-top-right-radius: 0.3em /*{global-radii-blocks}*/;
        border-top-right-radius: 0.3em /*{global-radii-blocks}*/;
        -moz-border-radius-bottomright: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-bottom-right-radius: 0.3em /*{global-radii-blocks}*/;
        border-bottom-right-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-left {
        -moz-border-radius-topleft: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-top-left-radius: 0.3em /*{global-radii-blocks}*/;
        border-top-left-radius: 0.3em /*{global-radii-blocks}*/;
        -moz-border-radius-bottomleft: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-bottom-left-radius: 0.3em /*{global-radii-blocks}*/;
        border-bottom-left-radius: 0.3em /*{global-radii-blocks}*/;
}
.ui-corner-all {
        -moz-border-radius: 0.3em /*{global-radii-blocks}*/;
        -webkit-border-radius: 0.3em /*{global-radii-blocks}*/;
        border-radius: 0.3em /*{global-radii-blocks}*/;
}

/* =Main Page */
div.mainpage {
    background-repeat:repeat-x;
}

div.searchbar {
    height: 45px;
    padding: 0px;
    margin: 0px;
}

#searchform {
    height: 12px;
    padding: 5px 8px 7px 8px;
}

#meetings-container {
    margin: 8px;
}

.meeting-name {
    font-size: 12pt;
    color: #0a4c83;
    font-weight: bold;
}

.meeting-address {
    font-size: 11pt;
    color: #6b6b6b;
    font-weight: normal;
}

.meeting-time {
    font-size: 10pt;
    color: #9f9e9e;
    font-weight: normal;
}

.meeting-time-remaining {
    font-size: 10pt;
    font-weight: normal;
}

img.calendar-icon {
    background-size: 17px 19px;
    width: 17px;
    height: 19px;
}

/* =Results Page */
#results-container {
    margin: 8px;
}

#search-results .ui-corner-all {
    border-radius: 0.1em;
}

a.back-btn {
    background-size: 48px 27px;
    width: 48px;
    height: 27px;
}

img.list-location-marker {
    background-size: 12px 20px;
    width: 12px;
    height: 20px;
}

.listing-name {
    font-size: 12pt;
    color: #0a4c83;
    font-weight: bold;
}

.listing-address {
    font-size: 11pt;
    color: #6b6b6b;
    font-weight: normal;
}

.listing-distance {
    font-size: 10pt;
    color: #9f9e9e;
    font-weight: normal;
}

/* =Details Page */
a.back-btn-results {
    background-size: 62px 27px;
    width: 62px;
    height: 27px;
}

#details {
    margin: 8px;
}

.details-name {
    font-size: 16pt;
    color: #0b335c;
    font-weight: bold;
}

.details-url {
    font-size: 11pt;
    font-weight: bold;
    color: #7c7c7c;
}

.details-label {
    font-size: 8pt;
    color: #2073ae;
}

.details-address {
    font-size: 10pt;
    color: #353535;
}

img.details-location-marker {
    background-size: 11px 18px;
    width: 11px;
    height: 18px;
}

img.details-map-marker {
    position: relative;
    left: -12px;
    top: -38px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 19px;
    background-size: 25px 38px;
}

a.connect-me-btn {
    margin-left: 5px;
    background-size: 151px 46px;
    width: 151px;
    height: 46px;
}

a.share-info-btn {
    margin-right: 5px;
    background-size: 151px 46px;
    width: 151px;
    height: 46px;
}

#map {
    width: 300px;
    height: 300px
}

img.get-directions-btn {
    background-size: 150px 30px;
    width: 150px;
    height: 30px;
}

img.departure-alert-btn {
    background-size: 150px 30px;
    width: 150px;
    height: 30px;
}

/* =Directions Page */
#directions-details {
    margin: 8px 8px 0px 8px;
}

#directions-listing {
    margin: 0;
    border-radius: 0.3em 0.3em 0 0;
    box-shadow: none;
    background-clip: border-box;
    width: 300px;
}

#directions-listing .ui-li {
    border: none;
}

#directions-listing .ui-corner-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.directions-name {
    font-size: 16pt;
    color: #0b335c;
    font-weight: bold;
}

.directions-url {
    font-size: 11pt;
    font-weight: bold;
    color: #7c7c7c;
}

.directions-address {
    font-size: 10pt;
    color: #353535;
}

img.small-location-marker {
    background-size: 10px 15px;
    width: 10px;
    height: 15px;
}

#directions-map {
    width: 300px;
    height: 150px
}

#directions-panel {
  height: 100%;
  width: 300px;
  overflow: auto;
  background-color: #FFFFFF;
}

img.directions-start-map-marker {
    position: relative;
    left: -12px;
    top: -38px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 19px;
    background-size: 25px 38px;
}

img.directions-end-map-marker {
    position: relative;
    left: -12px;
    top: -38px;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 19px;
    background-size: 25px 38px;
}

div.adp-summary {
    background-color: #DDEDF8;
    font-size: 10pt;
    padding: 3px;
}

table.adp-placemark {
    border: none;
    margin: 0;
}

div.adp-legal {
    font-size: 8pt;
}

td.adp-text {
    font-size: 11pt;
    font-weight: bold;
}

td.adp-substep {
    font-size: 11pt;
}

#adp-placemark img, .adp-placemark img {
    display:none;
}

#adp-placemark {
    font-weight: bold;
    padding: 10px 10px 10px 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    background-size: 25px 38px;
}

.adp-placemark {
    font-weight: bold;
    padding: 10px 10px 10px 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 5px 10px;
    background-size: 25px 38px;
}

a.departure-alert-btn {
    margin-left: 5px;
    background-size: 151px 46px;
    width: 151px;
    height: 46px;
}

a.share-directions-btn {
    margin-right: 5px;
    background-size: 152px 46px;
    width: 152px;
    height: 46px;
}

/* =Share Page */
a.back-btn-info {
    background-size: 42px 27px;
    width: 42px;
    height: 27px;
}

img.address-pointer {
    background-size: 10px 15px;
    width: 10px;
    height: 15px;
}

#share-info {
    margin: 8px;
}

#share-listing .ui-li {
    border: none;
    overflow: auto;
}

#address-select {
    margin: 8px;
}

div.share-footer {
    height: 77px;
    border:none;
    background-size: 320px 77px;
}

.share-name {
    font-size: 16pt;
    color: #0b335c;
    font-weight: bold;
}

.share-url {
    font-size: 11pt;
    font-weight: bold;
    color: #7c7c7c;
}

.share-address {
    font-size: 10pt;
    font-weight: bold;
    color: #353535;
}

.share-meeting-bg {
    background: #ddedf8;
}

.share-meeting-name {
    font-size: 10pt;
    font-weight: bold;
    color: #0a4c83;
    float: left;
}

.share-meeting-time {
    font-size: 10pt;
    font-weight: normal;
    color: #353535;
    float: right;
}

.share-list-title {
    padding: 0 3px 3px 3px;
    text-align: center;
    font-size: 16pt;
    font-weight: normal;
    color: #FFFFFF;
}

.share-contact_name-selected {
    font-size: 14pt;
    font-weight: bold;
    color: #0a4c83;
    background: #ddedf8;
}

.share-contact_name {
    font-size: 14pt;
    font-weight: bold;
    color: #8f8f8f;
}

a.share-add_other {
    background-size: 302px 38px;
    width: 302px;
    height: 38px;
}

a.sms-btn {
    margin-top: 19px;
    background-size: 152px 46px;
    width: 152px;
    height: 46px;
}

a.email-btn {
    margin-top: 19px;
    background-size: 151px 46px;
    width: 151px;
    height: 46px;
}

/* =AddContact Page */
#contacts-container {
    margin: 8px;
}

#contacts .ui-li {
    border: none;
    overflow: auto;
}

.addcontact-loading {
    color: #8f8f8f;
}

.addcontact-name {
    font-size: 12pt;
    font-weight: bold;
    color: #0a4c83;
}
